<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="./images/oba.ico">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/script.js" type="module"></script>
    <title>Error!</title>
  </head>
  <body>
    <header>
      <h1>Error!</h1>
      <img src="./img/oba-logo.svg" class="logo" alt="oba-logo">
    </header>

    <main class="main main--loader">
      <p><%= message %></p>
      <a href="/" class="button">Terug</a>
    </main>
  </body>
</html>
