<% include head %>

    <!-- <script src="./js/script.js" type="module"></script> -->
    <title>OBA - Zoek een boek</title>
  </head>
  <body>
    <header>
      <h1>Zoek een boek</h1>
      <img src="./images/oba-logo.svg" class="logo" alt="oba-logo">
    </header>

    <main class="main main--home">
      <form class="form form--search" action="/search" method="post">
        <label for="book-title" class="form__label">Zoek een titel</label>
        <input type="text" id="book-title" class="form__input" name="book-title" placeholder="Titel van een boek" required>
        <input type="submit" id="search-book" name="search-book" class="form__submit button">
      </form>
    </main>

<% include tail %>
